/Dokumentenvorlage.aux
/Dokumentenvorlage.lof
/Dokumentenvorlage.log
/Dokumentenvorlage.lol
/Dokumentenvorlage.out
/Dokumentenvorlage.synctex.gz
/Dokumentenvorlage.toc
/DezSys10_Taschner_Weinb_5BHIT.aux
/DezSys10_Taschner_Weinb_5BHIT.lof
/DezSys10_Taschner_Weinb_5BHIT.log
/DezSys10_Taschner_Weinb_5BHIT.lol
/DezSys10_Taschner_Weinb_5BHIT.out
/DezSys10_Taschner_Weinb_5BHIT.synctex.gz
/DezSys10_Taschner_Weinb_5BHIT.toc
/DezSys10_Taschner_Weinb_5BHIT.bbl
/DezSys10_Taschner_Weinb_5BHIT.bib.bak
/DezSys10_Taschner_Weinb_5BHIT.blg
/DezSys10_Taschner_Weinb_5BHIT.tex.bak
